<div class="header-clear"></div>

<div class="homepage-slider no-bottom">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="responsive-image" src="./img/igreja.jpg" alt="img">
            <div class="slider-caption">
                <h3 class="center-text">Próxima missa</h3>
                <p class="center-text">Missa das 10hs na Capela</p>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</div>

<div class="call-to-action full-bottom">
    <a href="tel:+5561992096164"><i class="fa fa-phone color-green-dark"></i>Ligar para o coordenador</a>
    <div class="clear"></div>
</div>

<div class="content">
    <h2>Músicas favoritas</h2>
    <favourite-list></favourite-list>
</div>