<div class="gallery-fix"></div><!-- Fix Gallery next/prev error on Android -->
<div class="sidebar-tap-close"></div><!-- Overlay for content to close Sidebar -->
    
<div class="header-fixed header-light">
    <a href="#" class="header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a>
    <a href="#" class="header-icon-4 open-right-sidebar"><i class="fa fa-envelope-o"></i></a>
</div>

<div class="sidebar-left sidebar-light">
    <div class="sidebar-scroll">
        <div class="sidebar-header">
            <a href="#" class="sidebar-logo"></a>
        </div>        
        <div class="sidebar-menu"> 
            <a class="menu-item border-menu-white active-item" href="#!/favourites">
                <i class="fa fa-star-o"></i>
                Início
                <i class="fa fa-circle"></i>  
            </a> 
            <a class="menu-item border-menu-blue active-item" href="#!/search">
                <i class="fa fa-search"></i>
                Pesquisar
                <i class="fa fa-circle"></i>  
            </a> 
        </div>    
        <em class="sidebar-copyright">Todos os direitos reservados</em>
    </div>
</div>
<div class="sidebar-right sidebar-light">
    <div class="sidebar-scroll">
        <div class="sidebar-header">
            <a href="#" class="sidebar-logo"></a>
        </div>       
        <div class="sidebar-divider">
            Siga-nos em nossas redes
        </div>
        <div class="sidebar-menu">
            <a class="menu-item border-menu-yellow" href="#">
                <i class="fa fa-facebook"></i>
                Facebook
                <i class="fa fa-circle"></i>                        
            </a>            
            <a class="menu-item border-menu-sky" href="#">
                <i class="fa fa-youtube-play"></i>
                YouTube 
                <i class="fa fa-circle"></i>                        
            </a>               
            <a class="menu-item border-menu-purple" href="#">
                <i class="fa fa-instagram"></i>
                Instagram 
                <i class="fa fa-circle"></i>                        
            </a>                          
        </div>
        <em class="sidebar-copyright">Copyright 2016. All Rights Reserved</em>        
    </div>
</div>      